---
layout: default
---
{% assign posts = site.posts | where:"lang","pt-BR" %}

<div class="posts">
  {% for post in posts limit:site.max_posts %}
    <article class="post">

      <h1><a class="default" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content | truncatewords:40}}
      </div>

      <a class="default" href="{{ site.baseurl }}{{ post.url }}" class="read-more">Leia Mais</a>
    </article>
  {% endfor %}
</div>

{% if posts.size > site.max_posts %}
  <a href="/time-machine" class="island">Clique aqui e acesse todos os posts</a>
{% endif %}
